<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.9">
<file name="/Users/xiaqiulei/workspace/github/CodeAnalysis/app/src/androidTest/java/cn/mycommons/codeanalysis/ExampleInstrumentedTest.java">
<error line="10" severity="warning" message="Using the &apos;.*&apos; form of import should be avoided - org.junit.Assert.*." source="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck"/>
</file>
<file name="/Users/xiaqiulei/workspace/github/CodeAnalysis/app/src/main/java/cn/mycommons/codeanalysis/MainActivity.java">
</file>
<file name="/Users/xiaqiulei/workspace/github/CodeAnalysis/app/src/test/java/cn/mycommons/codeanalysis/ExampleUnitTest.java">
<error line="5" severity="warning" message="Using the &apos;.*&apos; form of import should be avoided - org.junit.Assert.*." source="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck"/>
<error line="14" column="17" severity="warning" message="Name &apos;addition_isCorrect&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
<error line="15" column="22" severity="warning" message="&apos;4&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
</file>
</checkstyle>
